:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #2b2a29;
    --light-color: #fff;
}
/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #2166e6b9;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#social-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#social-links li {
    margin-right: 1rem;
}

#social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: 50%;
    transition: var(--transition);
}

#social-links li a i {
    font-size: 30px;
    color: var(--dark-color);
}

#social-links li a:hover {
    opacity: 0.9;
}

/* Estilos del héroe */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: url(/assets/BuenosAires_Header-1500x1000.jpg) center/cover no-repeat fixed;
}

.hero h1 {
    color: #fff;
    font-size: 36px;
}

.hero p {
    color: #fff;
    font-size: 22px;
}

/* Estilos para la sección sobre nosotros */
.about-section {
    background-color: #1d1d1d;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.about-content h1 {
    font-size: 36px;
}

.about-content p {
    font-size: 18px;
}

/* Estilos para la sección de fondo */
.background-section {
    background: url(/assets/nuevolugar-1500x896.jpg) center/cover no-repeat fixed;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
}

.background-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.background-section h3,
.background-section p {
    font-size: 24px;
    margin: 10px 0;
}

/* Estilos de la sección */
.section {
    padding: 50px 20px;
    text-align: center;
}

/* Estilos para el título de la sección */
.section h1 {
    color: #9e9a9a;
    margin-bottom: 20px;
}

/* Estilos para los elementos de la galería */
.gallery-item {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 0 10px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}

/* Estilos para las imágenes dentro de la galería */
.gallery-item img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos para los títulos de los elementos de la galería */
.gallery-item h2 {
    color: #5e5c5c;
    margin: 0;
    font-size: 18px;
}

/* Estilos para la sección de pastores */
.seccion-pastores {
    background-color: #cfcccc;
    padding: 50px 20px;
    text-align: center;
}

/* Estilos para la imagen del pastor */
.round-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

/* Estilos para el texto */
.pastor-info h1 {
    color: #5e5c5c;
    margin-bottom: 20px;
}

.pastor-info p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos del pie de página */
footer {
    background-color: #2166e6b9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el nombre de la marca en el nav */
.brand-name {
    font-size: 24px;
    margin-left: 10px;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .hero {
        padding: 50px 20px;
    }
    
    .hero h1 {
        font-size: 28px;
    }
    
    .hero p {
        font-size: 18px;
    }
    
    .about-section {
        padding: 50px 20px;
    }
    
    .background-section {
        padding: 50px 20px;
    }
    
    .section {
        padding: 30px 20px;
    }
    
    .gallery-item {
        width: calc(50% - 20px);
    }
    
    .gallery-item h2 {
        font-size: 16px;
    }
    
    .seccion-pastores {
        padding: 30px 20px;
    }
}
