:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #2b2a29;
    --light-color: #fff;
}
/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #2166e6b9;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}
ul{
    list-style-type: none
}
a{
    text-decoration: none;
    color: var(--dark-color)
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
#social-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Reducir el espacio superior en dispositivos más pequeños */

}

#social-links li {
    margin-right: 1rem;
}

#social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Altura del círculo */
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: 50%; /* Hacer un círculo */
    transition: var(--transition);
}

#social-links li a i {
    font-size: 30px; /* Tamaño del icono */
    color: var(--dark-color); /* Color del icono */
}

#social-links li a:hover {
    opacity: 0.9;
}

/* Estilos del héroe */
.hero {
    height: 300px;
    text-align: center;
    padding: 100px 20px;
    background: url(/assets/BuenosAires_Header-1500x1000.jpg) center/cover no-repeat fixed;
}

.hero h1 {
    color: #fff;
    font-size: 36px;
}

.hero p {
    color: #fff;
    font-size: 22px;
}

/* Estilos para la sección sobre nosotros */
.about-section {
    background-color: #1d1d1d; /* Fondo gris */
    color: #ffffff; /* Texto oscuro */
    text-align: center;
    padding: 100px 0;
}

.about-content h1 {
    font-size: 36px;
}

.about-content p {
    font-size: 18px;
}

/* Estilos para la sección de fondo */
.background-section {
    background: url(/assets/nuevolugar-1500x896.jpg) center/cover no-repeat fixed;
    height: 400px; /* Ajusta la altura según sea necesario */
    color: #ffffff; /* Texto oscuro */
    text-align: center;
    display: flex; /* Establece el contenedor como flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column; /* Alinea los elementos en columna */
}

.background-section h1 {
    font-size: 36px; /* Ajusta el tamaño de fuente según sea necesario */
    margin-bottom: 20px; /* Agrega espacio entre los elementos */
}

.background-section h3, .background-section h5 {
    font-size: 24px; /* Ajusta el tamaño de fuente según sea necesario */
    margin: 10px 0; /* Agrega espacio entre los elementos */
}


/* Estilos de la sección */
.section {
    padding: 50px 20px;
    text-align: center; /* Centra el texto dentro de la sección */
}

/* Estilos para el título de la sección */
.section h1 {
    color: #9e9a9a;
    margin-bottom: 20px; /* Agrega espacio entre el título y los elementos de la galería */
}

/* Estilos para los elementos de la galería */
.gallery-item {
    display: inline-block; /* Muestra los elementos en línea */
    width: calc(33.33% - 20px); /* Calcula el ancho de cada elemento (33.33% - 20px de espacio entre elementos) */
    margin: 0 10px; /* Agrega espacio entre los elementos */
    vertical-align: top; /* Alinea los elementos en la parte superior */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho y la altura */
    text-align: center; /* Centra el contenido dentro del elemento */
}

/* Estilos para las imágenes dentro de la galería */
.gallery-item img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 1px solid #ddd; /* Añade un borde a las imágenes */
    border-radius: 5px; /* Añade bordes redondeados */
    margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

/* Estilos para los títulos de los elementos de la galería */
.gallery-item h2 {
    color: #5e5c5c;
    margin: 0; /* Elimina el margen predeterminado del título */
    font-size: 18px; /* Tamaño de fuente del título */
}

/* Estilos para la sección de pastores */
.seccion-pastores {
    background-color: #cfcccc;
    padding: 50px 20px;
    text-align: center;
}

/* Estilos para la imagen del pastor */
.round-image {
    border-radius: 50%; /* Hace que la imagen sea redonda */
    width: 150px; /* Tamaño de la imagen */
    height: 150px;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    
}

/* Estilos para el texto */
.pastor-info h1 {
    color: #5e5c5c;
    margin-bottom: 20px; /* Espacio entre el título y el párrafo */
}

.pastor-info p {
    font-size: 18px; /* Tamaño de fuente del párrafo */
    line-height: 1.5; /* Espaciado entre líneas */
}


/* Estilos del pie de página */
footer {
    background-color:  #2166e6b9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el nombre de la marca en el nav */
.brand-name {
    font-size: 24px;
    margin-left: 10px;
}
